.navBar {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #2A77AE;
    background-color: gold;
    margin-bottom: 0;
    position: fixed;
    top:0;
    height:4rem;
    float:left;
    list-style-type: none;
  }
  .brand{
    float:left;
    padding-left: 16rem;
    padding-right:4rem;
  }
 
 